<p>Welcome to How Many Meeples! If you haven't used the site before, you can use the above links to access our functionality. You can view and add games to our collection, record your play sessions, and look up the sessions that you've played.</p>
