<div class="session row"><h3>Game of: {{this.game.name}} updated to have with {{this.players}} players,
  and a rating of {{this.rating}}.  You can modify this with the Session ID: {{this.id}}.</h3>
</div>
