$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
$dark: #000;
$medgreen: #05a335;
$red: #dd2407;
$medblue: #0a6a8a;
$lightorange: #fda447;


body {
  background: $medblue;
  color: $lightorange;
}

.red {
  color: $red;
}

.auth {
  background: $medgreen;
  border: 10px solid $dark;
  margin-bottom: 20px;
  padding: 5px;
}

.password {
  width: 50px;
}

.larger {
  color: $lightorange;
  font-size: 1.5em;
  font-weight: 500;
}

.notes {
  width: 60%;
}
